body{
    background-image: url(./Background.png);
    font-family: 'Roboto', sans-serif;
    color: white;
}
#logo{
    position:absolute; 
	top: 30px; 
	left: 30px;
}
#logo img{
    height: 100px;
}
#ham{
    position: absolute;
    right: 30px;
    top: 30px;
}
#ham img{
    height:25px;
    }
h3{
    color: turquoise;
    font-size: 30px;
}
#about{
    color: aqua;
    padding-top:150px;
    padding-left:30px;
    font-size: 60px;
}
.flex_container{
    display: flex;
    
}
.flex_container>div{
    margin: 0;
    padding: 40px;
    font-size: 18px;
}
.end{
    
    margin-top: 40px;
    bottom: 0px;
    margin-left: 90%;
    display: flex;
    justify-content: space-around;
}
.image{
    height: 25px;
    padding-right: 10%;
    }
